@import "variables";

body {
  background-color: lightslategray;
  font-family: sans-serif;
  color: $color-primary;
  position: relative;

}
.bigWhiteBox{
  width:90%;
  height: 100vw;
  background-color:white;
  margin: auto;
  position: relative;
}

button:hover {
  cursor: pointer;
}

h1, h2, h3, h4 {
  //margin-bottom: 3%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .75em;
}

html {
  overflow-y: scroll;
}
header{
  font-family: Niramit, serif;
  font-size: 40px;
  color: black;
}

.navStyle ul {
  font-family: Patua One, serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    text-decoration:none !important;
  }
}

.navStyle {
  display: flex;
  padding: 5% 0 3% 5%;
  border-bottom: solid lightslategray;
  li {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left:50px;
    vertical-align: middle;
  }
  a {
    color: black;
  }
}



