$color-primary: #343F3E;
$color-secondary: #8F91A2;
$color-accent: #DCECFF;
$color-inverse: #FFFFFF;
$patua-one: 'Patua One', serif;
$montserrat: 'Montserrat', san-serif;
$niramit: 'Niramit', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;
