
// COLORS
$color-primary: #343F3E;
$color-secondary: #8F91A2;
$color-accent: #778899;
$color-beigey-browny-something: #ecd9c6ed;
$color-inverse: #FFFFFF;

// FONTS
$patua-one: 'Patua One', serif;
$montserrat: 'Montserrat', san-serif;
$niramit: 'Niramit', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;

// SCREEN SIZES
$desktop-lg: 1200px;
$desktop: 960px;
$tablet: 700px;
$mobile: 500px;
$mobile-sm: 320px;
