@import '../../../style/variables';

.symptomsForm {
  margin-bottom: 3%;
  background-color: $color-beigey-browny-something;
  ul {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px;
    padding: 3%;
  }
  li {
    padding:0;
    margin-right:5px;
    width: 49%;
    margin-bottom: 2%;
  }

}
