 .buttonStyle {
   background: #fff;
   height: 30px;
   width: 400px;
   border: 1px solid #000;
   margin: 3% auto;
   display: block;
}
.titleOnForm {
   margin: 15% 0 3% 0;
}

.diagnosisSubmit {
   text-align: center;
}
